{% load i18n %}

<style>
@media (max-width: 573px) {
    #button-big-size {
        display: none;
    }

    #button-small-size {
        display: block;
        border-radius: 4px;
        margin-top: 0.2em;
    }

    #searchBar {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

@media (min-width: 573px) {
    #button-big-size {
        display: block;
    }

    #button-small-size {
        display: none;
    }

    #searchBar {
        height: 2.375rem;
    }
}
</style>

<div class="breadcrumb" style="display: flex; flex-direction: column;">
	
    <div>
        <a href="{% url 'forum:index' %}"><i class="fa fa-home">&nbsp;</i>{% trans "Forum index" %}</a>
    </div>
    <div class="col-md-8-1">
        <div class="input-group">
            <input id="searchBar" type="text" class="form-control" placeholder="{% trans 'Search...' %}" name="q">
            <div class="input-group-append">
                <button id="button-big-size" class="btn btn-secondary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
		</div>
        <div class="input-group-btn" style="display: flex; justify-content: space-between; width: 100%">
            <button id="button-small-size" class="btn btn-secondary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            <a style="display: block; padding-left: 0; padding-right: 0;" href="{% url 'forum_search:search' %}" class="btn btn-link">{% trans "Advanced search" %}</a>
        </div>
    </div>
    {% if forum %}
        {% for ancestor in forum.get_ancestors %}
            <div><a href="{% url 'forum:forum' ancestor.slug ancestor.id %}">{{ ancestor.name }}</a></div>
        {% endfor %}
        <div><a href="{% url 'forum:forum' forum.slug forum.id %}">{{ forum.name }}</a></div>
    {% endif %}
    {% if topic %}
        <div><a href="{% url 'forum_conversation:topic' forum.slug forum.id topic.slug topic.id %}">{{ topic.subject }}</a></div>
    {% endif %}
        </div>