<!DOCTYPE html>
<html lang="en">

<head>
	</head>
<body>
<!-- Intro Seven -->
<section class="intro carousel slide bg-overlay-light h-auto" id="carouselExampleCaptions">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
       <!--- miss -->
        <div class="carousel-caption ">
          	<h2 class="display-4 text-white mb-2">Why do we love the sea? It is because it has some potent power to make us think things we like to think.</h2>
			<p class="text-white mb-3 px-5 lead">Let's make our dreams tomorrow's reality.</p>
			<a href="/faq/" class="btn btn-primary btn-capsul px-4 py-2">Tell me more!</a>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" alt="First slide" src="#">
        <div class="carousel-caption ">
          	<h2 class="display-4 text-white mb-2">Never before in history has innovation offered promise of so much to so many in so short time.</h2>
			<p class="text-white mb-3 px-5 lead">Bill Gates</p>
			<a href="/faq/" class="btn btn-primary btn-capsul px-4 py-2">Tell me more!</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</section>

<!-- Info block 1 -->

</body>
</html>
