<style type="text/css">
	#subscribeBtn {
		width: 100%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	#subscribeBtn:hover {
		color: rgb(0, 123, 255);
	}

	#emailInput {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.footer-section {
		margin-top: 3em;
	}

	body {
		display: flex;
		flex-direction: column;
	}

	.info-section, #mainContent {
		flex-grow: 1;
	}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="footer-section bg-dark pt-5">
	<div class="container pb-3">
		<div class="row">
			<div class="col-md-3">
				<div class="about-box text-white">
					<h5 class="mb-3">Quick Links</h5>
					<ul class="list-unstyled">
						<li><a href="/" class="text-white">Home</a></li>
						<li><a href="/mapa/" class="text-white">Map</a></li>
						<li><a href="/shop/catalogue/" class="text-white">Shop</a></li>
						<li><a href="/forum/" class="text-white">Forum</a></li>
						<li><a href="/contact/" class="text-white">Contact</a></li>
						<li><a href="/faq/" class="text-white">FAQ</a></li>
						<li><a href="/challenge/" class="text-white">CHALLENGE</a></li>
						<li><a href="/shop/accounts/login/" class="text-white">Login or Register</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="about-box text-white">
					<h5 class="mb-3">Partners</h5>
					<ul class="list-unstyled">
					<li><a href="https://www.ceiia.com/" class="text-white">CEiiA</a></li>
					<li><a href="http://www.noaa.gov/" class="text-white">NOAA</a></li>
					<li><a href="http://www.emodnet.eu/" class="text-white">EMODnet</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="about-box text-white">
							<h5 class="mb-3">Contact Us!</h5>
							<p>floaty-mcbuoy@floaty-mcbuoy.com</p>
							<p>+351xxxxxxxxx</p>
						</div>
					</div>
					<div class="col-md-6">
						<h5 class="text-white">Subscribe Now</h5>
						<div class="input-group flex-column" id="emailInputGroup">
						  <input class="form-control w-100" aria-label="Insert your E-Mail to receive our Newsletter" type="text" id="emailInput" placeholder="E-mail" aria-placeholder="e-mail">
								<a href="https://media.istockphoto.com/photos/thank-you-picture-id598953802?k=6&m=598953802&s=612x612&w=0&h=JgvaLqX4wUK-Zwr3l5gIsrSJZGYBXGnqSx3YHzT3XkM=" class="text-grey" >
									<button
										class="btn w-100"
                    type="button"
                    id="subscribeBtn"
                  >
										Subscribe
									</button>
								</a>
						</div>
					</div>
					<div class="col-md-6">
						<h5 class="text-white">
							Share the Love
						</h5>
						<ul class="social-box social-circle">
		                    <li><a href="https://www.facebook.com/ceiiacollisionground" class="fa-box" title="Facebook"><i class="fa fa-facebook"></i></a></li>
		                    <li><a href="https://twitter.com" class="tw-box" title="Twitter"><i class="fa fa-twitter"></i></a></li>
		                    <li><a href="https://plus.google.com" class="go-box" title="Google +"><i class="fa fa-google-plus"></i></a></li>
		                    <li><a href="https://pt.linkedin.com/company/ceiia---center-for-innovation-and-creative-engineering" class="ld-box" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
		                    <li><a href="#" class="rss-box" title="Rss"><i class="fa fa-rss"></i></a></li>
		                </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>