{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
	{% block favicon %}
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon-64.png' %}">
		<link rel="icon" type="image/png" sizes="16x16 32x32 64x64" href="{% static 'favicon-64.png' %}">
		<link rel="icon" type="image/png" sizes="196x196" href="{% static 'favicon-192.png' %}">
		<link rel="icon" type="image/png" sizes="160x160" href="{% static 'favicon-160.png' %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96.png' %}">
		<link rel="icon" type="image/png" sizes="64x64" href="{% static 'favicon-64.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16.png' %}">
		<link rel="apple-touch-icon" href="{% static 'favicon-57.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon-114.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon-72.png' %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon-144.png' %}">
		<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon-60.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon-120.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon-76.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon-152.png' %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon-180.png' %}">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="{% static 'favicon-144.png' %}">
		<meta name="msapplication-config" content="{% static 'browserconfig.xml">' %}   
	{% endblock %}
	</head>
<body>
{% include "indexapp/index.html" %}

{% include "indexapp/carrousel.html" %}

<!-- Info block 1 -->
<section class="info-section mt-4">
	<div class="container">
		<div class="head-box text-center mb-5">
			<b><h1>Who We Are</h1></b>
		</div>
		<div class="row">
		<div class="col-md-12 col-lg-7">
		<div class="head-box text-center mb-5">
			<h6 class="text-underline-primary">I present to you an extraordinary buoy. A buoy capable of great achievements and discoveries.

I present to you the Floaty McBuoy.

This buoy appears in response to a knowledge and ecologic world call.
Did you know more then 95% of the ocean remains unexplored by us due to extreme conditions? This represents a great potential in the public system, scientific community and offshore industries.
At the same time, the ocean is more and more a polluted place thus is necessary an ecological and critical eye towards its conservation and sustainability - 14th Goal for Sustainable Development - Life Bellow Water.
With this in mind, we developed a true innovative concept of ocean observation, using biodegradable and inexpensive materials to create ocean platforms for a more comprehensive vision of our vast sea.

Portugal is reborning from the Discoveries Era</h6>			
		</div>
		</div>
<div class="col-lg-5 copy-container" style="margin-top: -1.5em; padding-right: 0px;">		
		<img src="/static/index/img/sunset.jpg" class="img-fluid rounded" alt="picture of the buoy in the sea">
		</div>
		</div>
		
		<div class="three-panel-block mt-5">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center mb-5 p-lg-3">
						<img src="/static/index/img/goncalo.jpg" class="img-fluid rounded" alt="picture of a member of the team">
						<h3>Gonçalo Cardoso</h3>
						<p class="px-4">21</p>
						<p class="px-4">Aerospacial Eng.</p>
						<p class="px-4">Software Team; Challenge</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center mb-5 p-lg-3">
						<img src="/static/index/img/hugo.jpg" class="img-fluid rounded" alt="picture of a member of the team">
						<h3>Hugo Marques</h3>
						<p class="px-4">21</p>
						<p class="px-4">Eletronics and Computers Eng.</p>
						<p class="px-4">Eletronics Team; Challenge</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center mb-5 p-lg-3">
						<img src="/static/index/img/joaoesteves.jpg" class="img-fluid rounded" alt="picture of a member of the team">
						<h3>João Esteves</h3>
						<p class="px-4">19</p>
						<p class="px-4">Aeronautical Eng.</p>
						<p class="px-4">Structure and Design Team; Challenge</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center p-lg-3">
						<img src="/static/index/img/ze.jpg" class="img-fluid rounded" alt="picture of a member of the team">
						<h3>José Gonçalves</h3>
						<p class="px-4">22</p>
						<p class="px-4">Aeronautical Eng.</p>
						<p class="px-4">Hydrodinamics Team; Challenge; Structure and Design</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center p-lg-3">
						<img src="/static/index/img/zerocha.jpg" class="img-fluid rounded" alt="picture of a member of the team">
						<h3>José Rocha</h3>
						<p class="px-4">22</p>
						<p class="px-4">Aeronautical Eng.</p>
						<p class="px-4">Hydrodinamics Team; Challenge; Structure and Design</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center p-lg-3">
						<img src="/static/index/img/madalena.jpg" class="img-fluid rounded" alt="picture of a member of the team">
						<h3>Madalena Cardoso</h3>
						<p class="px-4">19</p>
						<p class="px-4">Mechanical Eng.</p>
						<p class="px-4">Structure and Design team; Challenge; Software; Economics Team</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center mb-5 p-lg-3">
						<img src="/static/index/img/marlene.jpg" class="img-fluid rounded" alt="picture of a member of the team">
						<h3>Marlene Antunes</h3>
						<p class="px-4">20</p>
						<p class="px-4">Industrial Eng. and Management</p>
						<p class="px-4">Software Team; Challenge</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center mb-5 p-lg-3">
						<img src="/static/index/img/martinho.jpg" class="img-fluid rounded" alt="picture of a member of the team">
						<h3>Martinho Figueiredo</h3>
						<p class="px-4">21</p>
						<p class="px-4">Eletronics and Computers Eng.</p>
						<p class="px-4">Technical Integrator; Software Team; Eletronics Team; Challenge; Project Management; And All Around cool guy B)</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center mb-5 p-lg-3">
						<img src="/static/index/img/alunos_secundario.jpg" class="img-fluid rounded" alt="picture of a member of the team">
						<h3>Alunos de secundário</h3>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center p-lg-3">
						<img src="/static/index/img/pedro.jpg" class="img-fluid rounded" alt="picture of a member of the team">
						<h3>Pedro Andrade</h3>
						<p class="px-4">20</p>
						<p class="px-4">Materials Eng.</p>
						<p class="px-4">Materials Team; Software Team; Challenge;</p>					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center p-lg-3">
						<img src="/static/index/img/ruben.jpg" class="img-fluid rounded" alt="picture of a member of the team">
						<h3>Rúben Meireles</h3>
						<p class="px-4">21</p>
						<p class="px-4">Aeronautical Eng.</p>
						<p class="px-4">Materials Team; Hydrodinamics Team; Structure and Design Team; Project Management; Software Team; Challenge</p>					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center p-lg-3">
						<img src="/static/index/img/teresa.jpg" class="img-fluid rounded" alt="picture of a member of the team">
						<h3>Teresa Ribeiro</h3>
						<p class="px-4">19</p>
						<p class="px-4">Industrial Eng. and Management</p>
						<p class="px-4">Project Management; Challenge; Software Team; Economics </p>					</div>
				</div
			</div>
		</div>
	</div>
</section>
{% include "indexapp/footer.html" %}
</body>
</html>
