<!DOCTYPE html>
<html>
<head>
	<title>Leaflet Map</title>
	<!-- External Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
</head>
<body>
{% include "indexapp/index.html" %}
	<!-- Our web map and content will go here -->
    <div id="map" style="width: 75%; height: 1000px; margin: auto;"></div>
        {% include "indexapp/footer.html" %}

	<!-- Add the Leaflet JavaScript library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
	<script>
    	// Create variable to hold map element, give initial settings to map
    	var map = L.map('map',{ center: [0,0], zoom: 1.1});

    	// Add OpenStreetMap tile layer to map element
		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href=\"http://openstreetmap.org\">OpenStreetMap<\/a>' }).addTo(map);
		
        // Create an Empty Popup
        var popup = L.popup();
         
        // Write function to set Properties of the Popup
        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(map);
        }
         
        // Listen for a click event on the Map element
        map.on('click', onMapClick);
		
		
		
        // load GeoJSON from an external file
        $.getJSON("http://geoserver.emodnet-physics.eu/geoserver/emodnet/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=emodnet:PlatformDriftBuoy&maxFeatures=50&outputFormat=application%2Fjson",function(data){
            // add GeoJSON layer to the map once the file is loaded
            L.geoJson(data,{
                onEachFeature: function (feature, layer) {
                    layer.bindPopup(feature.properties.name);
                }
            }).addTo(map);
        });	
    </script>
    
</body>
</html>