 @media (max-width: 767px) {
  #cartBar {
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
  }

  #cartTotal {
    vertical-align: text-bottom;
  }

  div.navbar > div.container-fluid {
    display: flex;
    justify-content: space-between;
  }

  div.navbar > div.container-fluid > a {
    float: right;
    margin-left: auto;
  }

  div.navbar > div.container-fluid > div {
    padding-left: 1em;    
  }

  .hidden-xs {
    display: none!important;
  }
}

@media (min-width: 767px) {
  .hidden-xs-up {
    display: none!important;
  }
}