{% load i18n %}
{% load display_tags %}

<style>
    .profileTab.active > a {
        color: black;
        text-decoration: none;
    }
</style>

<li class="profileTab{% if active_tab == 'profile' %} active{% endif %}">
    <a href="{% url 'customer:profile-view'%}">{% trans "Profile" %}</a>
</li>
<li class="profileTab{% if active_tab == 'orders' %} active{% endif %}">
    <a href="{% url 'customer:order-list' %}">{% trans "Order History" %}</a>
</li>
<li class="profileTab{% if active_tab == 'addresses' %} active{% endif %}">
    <a href="{% url 'customer:address-list' %}">{% trans "Address Book" %}</a>
</li>
<li class="profileTab{% if active_tab == 'emails' %} active{% endif %}">
    <a href="{% url 'customer:email-list' %}">{% trans "Email History" %}</a>
</li>
<li class="profileTab{% if active_tab == 'alerts' %} active{% endif %}">
    <a href="{% url 'customer:alerts-list' %}">{% trans "Product Alerts" %}</a>
</li>
<li class="profileTab{% if active_tab == 'notifications' %} active{% endif %}">
    <a href="{% url 'customer:notifications-inbox' %}">{% trans "Notifications" %}</a>
</li>
{% iffeature 'wishlists' %}
<li class="profileTab{% if active_tab == 'wishlists' %} active{% endif %}">
        <a href="{% url 'customer:wishlists-list' %}">{% trans "Wish Lists" %}</a>
    </li>
{% endiffeature %}
<li class="profileTab{% if active_tab == 'forum profile' %} active{% endif %}">
    <a href="{% url 'customer:profile' request.user.id%}">{% trans "Forum Profile" %}</a>
</li>